@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

h1 {
    font-family: "Lobster" !important;
    font-size: 100px !important;
}

.jumbotron{
    margin-top: 30px !important;
    background-image: url("beerbanner.jpg");
    max-width: 960px !important;
}

h2 {
    margin-left: 20px !important;
}

.col-md-12{
    margin-left: 20px !important;
}

.btn{
    margin-bottom: 50px !important;
}

#nameInput{
    width: 16% !important;
}

canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}
span {
    color:#555;
    display:block;
    line-height:100px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:0px;
    font-weight:100;
    margin-left:5px;
}

.row{
    height: auto;
}

.circle{
    margin:10px;
}

.circle-text{
    font-size: 18px!important;
    margin-top:40px;
    font-weight: bold;
}

h3{
    font-size: 36px!important;
    font-weight: bold;
}