extends layout

block content
	.jumbotron
		h1 Das Beer Picker
		p(class="lead") Choose your favorite beer's or pick future candiates

	h2 Mark your favorite beer:
	div(class="col-md-12")
		form
			each beer in beers
				div(class="form-group")
					div(class="checkbox")
						label
							input(type="checkbox" value="")
							| #{beer.name}

			div(class="form-group")
				label(for="nameInput") Name
				input(class="form-control" id="nameInput" placeholder="Name")

		button(type="submit" class="btn btn-default") Submit