doctype html
html
	head
		script(scr="//scripts/lib/jquery-2.1.0.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		link(rel="stylesheet", href="style.css", type="text/css")
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
	body
		.container
			block content

		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")