doctype html
html
	head
		script(scr="script/jquery-2.1.0.min.js")
		script(src="script/jquery-2.1.1.min.js")
		link(href="css/bootstrap-3.3.1.min.css", rel="stylesheet")
		meta(http-equiv="refresh" content="10")
	body
		.container
			div(class="page-header")
				h1 No result generated yet!
					small  Leave the page open for auto refresh

		script(src="script/bootstrap-3.3.1.min.js")