extends layout

block content
	div(row class="row12")
		div(class="col-md-2")
		div(class="col-md-8")
			h3 Thank for your vote, #{name}!

			a(href="/") Click here to go back!

			p or

			a(href="/result") Click here for the results!
			h3 Your taste preferences

			div(class="row")
				div(class="col-md-3 circle")
					p(class="circle-text") Bitterness
				div(class="col-md-3 circle")
					div(class="chart" id="graph" data-percent="#{prefs.beska*100}")
			div(class="row")
				div(class="col-md-3 circle")
					p(class="circle-text") Fullness
				div(class="col-md-3 circle")
					div(class="chart" id="graph2" data-percent="#{prefs.fyllighet*100}")
			div(class="row")
				div(class="col-md-3 circle")
					p(class="circle-text") Sweetness
				div(class="col-md-3 circle")
					div(class="chart" id="graph3" data-percent="#{prefs.sotma*100}")
		div(class="col-md-2")
	script(src="circle.js")
	script(src="circle2.js")
	script(src="circle3.js")