extends layout

block content
	div(class="col-md-6 col-md-offset-3")
		h3 Thank for your vote, #{name}!

		a(href="/") Click here to go back!

		p or

		a(href="/result") click here to go the result page

		h3 Your unweighted result:
		p Beska: #{prefs.beska}
		p Fyllighet: #{prefs.fyllighet}
		p Sötma: #{prefs.sotma}

