extends layout

block content
	div(class="col-md-6 col-md-offset-3")
		h3 Thank for your vote, #{name}!

		a(href="/") Click here to go back!

		p or

		a(href="/result") click here to go the result page